<header xmlns:th="http://www.thymeleaf.org"
	data-th-fragment="frag-entete">

	<div data-th-if="${#authorization.expression('isAuthenticated()')}">
        <a th:href="@{/}">
            <img alt="Logo" src="/images/image3.jpg" sizes="3x3">
        </a>
    </div>
	<div data-th-unless="${#authorization.expression('isAuthenticated()')}">
	    <img alt="Logo" src="/images/image3.jpg" sizes="3x3">
	</div>

	<h1 id="nav-title">
		<a href="/">Titi crédit
					<br>& Grosses enchères</a>
	</h1>

	<nav>
		<ul>
			<li data-th-if="${#authorization.expression('isAuthenticated()')}">
				<a href="/">Enchères</a>
			</li>
			<li	data-th-if="${#authorization.expression('isAuthenticated()')}">
				<a href="/enchere/vendre">Vendre un article</a>
			</li>
			<li	data-th-if="${#authorization.expression('isAuthenticated()')}">
				<a href="/enchere/monProfil">Mon profil</a>
			</li>
			<li	data-th-if="${#authorization.expression('isAuthenticated()')}">
				<a href="/" style="text-decoration:line-through;">Accès Admin</a>
			</li>
			<!-- le lien connexion est affichée uniquement si on est pas connecté -->
			<li data-th-if="${!#authorization.expression('isAuthenticated()')}">
				<a href="/login"> S'inscrire / Se connecter</a>
			</li>
			<!-- le lien déconnexion est affichée uniquement si on est connecté -->
			<li data-th-if="${#authorization.expression('isAuthenticated()')}">
				<a href="/logout"> Déconnexion</a>
			</li>
		</ul>
	</nav>
</header>