<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		data-th-replace="~{layouts/layout :: frag-layout(titre=~{:: title},
														contenu=~{:: main},
														ressource=~{:: #ressource-css})
										}">
<head>
<title>Attention</title>
<th:block id="ressource-css">
	<link rel="stylesheet" data-th-href="@{/css/demo-error-http.css}" />
	<link rel="stylesheet" data-th-href="@{/css/tp-form.css}" />
</th:block>

</head>
<body>
	<main>
		<h1 class="cards" data-th-text="Erreur + ${status}"></h1>
		<form>
			<ul class="flex-outer cards">
				<li data-th-switch="${status}">
					<label data-th-case="403">Vous n'êtes pas autorisé à accéder à la ressource ...</label>
					<label data-th-case="404">Cette ressource n'existe pas</label>
					<label data-th-case="500">Le server n'est pas joignable, rappelez ultérieurement</label>
					<label data-th-case="999">Compte inconnu !</label>
					<label data-th-case="*">YOU SUCK ! (mais je sais pas pourquoi)</label>
				</li>
				<li>
					<a data-th-href="@{/}">Retour case départ</a>
				</li>
			</ul>
		</form>
	</main>	
</body>
</html>